/*************/
/**** ALL ****/
/*************/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC);

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    font-size: 1em;
    font-family: Noto Sans SC;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    background-color: white;
}

.link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link:hover {
    border-bottom: 1px solid black;
}

.link a:hover {
    color: black;
}

/****************/
/**** SEARCH ****/
/****************/

.column{
    float: left;
    padding:15px;
}
.logo{
    width: 30%;
    text-align: center;
}
.desc{
    width: 50%;
}

.resource::after {
    display: table;
    content: "";
    clear: both;
    margin-left: 30px;
}

.search {
    width: 100%;
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search > img {
    width: 60%;
    display: block;
    margin: 0px;
}

.searchbar {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar input[type=text] {
    font-size: 2em;
    text-indent: 0.5em;
    font-family: Varela Round;
    border-radius:20px;
    border: 2px solid Grey;
}

.searchbar input[type=text]:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.searchbutton {
    font-size: 2em;
    font-family: Varela Round;
    text-transform: lowercase; 
    color: White;
    border-radius: 1em;
    border-style: none;
    background-color:LightSeaGreen;
    align-items:center;
    padding-left:8px;
    padding-right:8px;
    height: 1.3em;
    cursor: pointer;
    vertical-align: top;
    transition: 0.5s
}

.searchbutton:hover{
    background: white;
    border: 3px solid teal;
    color:teal;
}

.active {
    border-bottom: 1px solid teal;
}

.active a {
    color: teal !important;
}

/***************/
/**** ABOUT ****/
/***************/

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: DimGray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*******************/
/**** Resources ****/
/*******************/

.resultsearchbar {
    width: 100%;
    margin: 10px;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsearchbar input[type=text] {
    font-size: 1.25em;
    text-indent: 0.25em;
    font-family: Varela Round;
    border-radius:20px;
    border: 2px solid Grey;
    transition: 0.5s;
    
}

.resultsearchbar input[type=text]:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.resultsearchbutton {
    font-size: 1em;
    font-family: Varela Round;
    text-transform: lowercase; 
    color: White;
    border-radius: 1em;
    border-style: none;
    background-color: lightseagreen;
    height:30px;
    cursor: pointer;
    vertical-align: top;
    transition-duration: 0.5s;
}

.resultsearchbutton:hover{
    background: white;
    border: 1px solid teal;
    color:teal;
}

.resource-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.resource {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.resource-img {
    height: 100px;
    width: 100px;
    align-content: center;
    padding: 10px;
}

.resource-img img {
    object-fit: contain;
}

.resource-details {
    padding: 10px;
    align-content: left;
}

.resource-details h3 {
    margin: 0;
    padding-left: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Noto Sans SC;
    color: Teal;
    transition: 0.5s;
}

.resource-details h3:hover{
    text-decoration: underline;
    color: #005377 ;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
}

.keyword {
    background-color: MediumTurquoise;
    color: white;
    padding: 5px;
    margin: 2px;
    border-radius: 20px;
    font-size: 0.75em;
    font-family: Varela Round;
}

.resource-details p {
    margin: 0;
    padding: 5px;
    font-family: Varela Round; 
    text-align: justify;
}
#profile {
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

/*****************/
/**** Overlay ****/
/*****************/

div[id^='overlay-'] {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

#overlaytext{
    width: 60%;
    margin: auto;
    color: white;
    text-align: justify;
    font-family: Varela Round;
}

#overlaytext a {
    color: white;
    font-family: Noto Sans SC;
    font-size: 1.25em;
}

/*****************/
/**** Pagebar ****/
/*****************/

.pagebar {
    margin-top: 20px;
}

.pagebar a {
    font-size: 1em;
    font-family: Varela Round; 
    color: lightseagreen;
    padding: 8px 16px;
    border-radius: 20px;
    transition: .8s;
}
 
/*style activelink*/
.pagebar a.active{
    border 1px solid lightseagreen;
    color: white;
}

/*add a background color on mouse-over*/
.pagebar a:hover:not(.active) {background-color: lightseagreen; color:white;}


/***************/
/**** Forms ****/
/***************/

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: calc(100vh - 6em);
}

.form-container p {
    font-size: 2em;
    font-family: Noto Sans SC;
    color: teal;     
}

.form {
    width: 100%;
    align-items: left;
}

.form-field {
    display: flex;
    margin: 3em 0em;
}

.form-prompt {
    font-size: 1.5rem;
    margin-right: 1em;
    flex-shrink: 0;
    width: 30%;
}

.form-input {
    width: 100%;
}

.radio-label {
    display: inline;
    position: relative;
    padding-left: 1.25em;
    cursor: pointer;
    margin: 0em 0.5em;
}
  
.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #eee;
    border-radius: 50%;
}
  
.radio-label:hover input ~ .radio {
    background-color: #ccc;
}
  
.radio-label input:checked ~ .radio {
    background-color: #2196F3;
}
  
.radio:after {
    content: "";
    position: absolute;
    display: none;
}
  
.radio-label input:checked ~ .radio:after {
    display: block;
}

.radio-label .radio:after {
       top: 0.3em;
      left: 0.3em;
      width: 0.4em;
      height: 0.4em;
      border-radius: 50%;
      background: white;
}

.form-success {
    width: 100%;
    height: calc(100vh - 6em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Noto Sans SC;
    color: Teal;
}