/*************/
/**** ALL ****/
/*************/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC);
body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 1em;
    font-family: Noto Sans SC;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}

.navbar2 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1em;
    font-family: Noto Sans SC;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}

.link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link:hover {
    border-bottom: 1px solid black;
}

.link a:hover {
    color: black;
}

/****************/
/**** SEARCH ****/
/****************/

.column{
    float: left;
    padding:15px;
}
.logo{
    width: 30%;
    text-align: center;
}
.desc{
    width: 50%;
}

.resource::after {
    display: table;
    content: "";
    clear: both;
    margin-left: 30px;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .search {
    width: 100%;
    margin: 10px;
}

.content .search > img {
    width: 60%;
    display: block;
    margin: auto;
}

.searchbar {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar input[type=text] {
    font-size: 2em;
    text-indent: 0.5em;
    font-family: Varela Round;
    border-radius:20px;
    border: 2px solid Grey;
}

.searchbutton {
    font-size: 2em;
    cursor: pointer;
    font-family: Varela Round;
    text-transform: lowercase; 
    color: White;
    border-radius:20px;
    border-type:none;
    background-color:LightSeaGreen;
    align-items:center;
    width: 13%;
}

.active {
    border-bottom: 1px solid teal;
}

.active a {
    color: teal !important;
}

/***************/
/**** ABOUT ****/
/***************/

.content p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: DimGray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*******************/
/**** Resources ****/
/*******************/

.resultsearchbar {
    width: 100%;
    margin: 10px;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsearchbar input[type=text] {
    font-size: 1.25em;
    text-indent: 0.25em;
    font-family: Varela Round;
    border-radius:20px;
    border: 2px solid Grey;
    
}
.resultsearchbutton {
    font-size: 1em;
    font-family: Varela Round;
    text-transform: lowercase; 
    color: White;
    border-radius:20px;
    border-style: None;
    background-color:LightSeaGreen;
    height:30px;
    cursor: pointer;
    vertical-align: top;
}

.resource-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.resource {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.resource-img {
    height: 100px;
    width: 100px;
    align-content: center;
    padding: 10px;
}

.resource-details {
    padding: 10px;
    align-content: left;
}

.resource-details h3 {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Noto Sans SC;
    color:Teal;
}

.resource-details p {
    margin: 0;
    padding: 5px;
    font-family: Varela Round; 
    text-align: justify;
}

.keywords {
    display: inline;
    background-color: MediumTurquoise;
    color: white;
    border-radius: 20px;
    font-size: 0.75em;
    font-family: Varela Round;
}

#profile {
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

/*****************/
/**** Overlay ****/
/*****************/

div[id^='overlay-'] {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

#overlaytext{
    width: 60%;
    margin: auto;
    color: white;
    text-align: justify;
    font-family: Varela Round;
}

#overlaytext a {
    color: white;
    font-family: Noto Sans SC;
    font-size: 1.25em;
}

/*****************/
/**** Pagebar ****/
/*****************/

.pagebar {
    position: relative;
}

.pagebar a {
    font-size: 1.75em;
    font-family: Varela Round; 
    border-radius: 20px;
    border-type:None;
    colour: MediumTurquoise;
    margin: 20px 10px 0px;
}
