/*************/
/**** ALL ****/
/*************/
body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}

.navbar2 {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}

.link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link:hover {
    border-bottom: 1px solid black;
}

.link a:hover {
    color: black;
}

/****************/
/**** SEARCH ****/
/****************/

.column{
    float: left;
    padding:15px;
}
.logo{
    width: 30%;
    text-align: center;
}
.desc{
    width: 50%;
}


.resource::after {
    display: table;
    content: "";
    clear: both;
    margin-left: 30px;
}


.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .search {
    width: 100%;
    margin: 10px;
}

.content .search > img {
    width: 60%;
    display: block;
    margin: auto;
}

.searchbar {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar input[type=text] {
    font-size: 2em;
}

.searchbar button {
    font-size: 2em;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid black;
}

.active a {
    color: black !important;
}

/***************/
/**** ABOUT ****/
/***************/

.content p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: DimGray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
