@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
    box-sizing: border-box;
    --yellow: rgb(249, 178, 84);
    --blue: rgb(26, 65, 91);
    --buttons: rgb(174,74,58);
    --titles: rgb(62,133,171);
}

body {
    margin: 0px;
}

.main {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(26,65,091,1);
    opacity: 1;
    background-image:  linear-gradient(#89a3c5 1px, transparent 1px), linear-gradient(to right, #89a3c5 1px, rgba(26,65,091,1) 1px);
    background-size: 20px 20px;
}

.center {
    width: 700px;
    height: 70vh;
    max-height: 500px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Noto Sans SC;
    color: var(--buttons);
}
.center h1{
    font-family: Varela Round;
    color: var(--titles);
}

.center h2{ 
   font-family: Noto Sans SC;
   color: Gray;
   font-size: 1em;
}

.sidebar {
    width: 70vw;
    min-width: 800px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    font-family: Varela Round;
    color: var(--titles);
}

.sidebar h3 {
    font-family: Noto Sans SC;
    color: gray;
}


.title {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

form {
    min-width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-family: Noto Sans SC;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Noto Sans SC;
    color: var(--titles);
}

.buttons {
    display: flex;
    justify-content: space-between;
    font-family: Varela Round;
}

button {
    margin: 10px 0px;
    border-radius: 20px;
    font-family: Varela Round;
    background: var(--yellow);
    padding: 10px;
    color: white;
    transition: 0.5s;
    border: none;
}

button:hover{
    background: var(--buttons);
    color: white;
}

.buttons a {
    text-decoration: none;
    background: var(--yellow);
    color: white;
    cursor: default;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 20px;
    border: none;
    transition: 0.5s;
    font-family: varela round;
}

.buttons a:hover{
    background: var(--buttons);
    color: white;
}


/**********/
/* NavBar */
/**********/

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 6em;
    top: 0;
    width: 100%;
    padding: 2em;
    /* padding-left: 3em;
    padding-right: 3em; */
    font-size: 1em;
    font-family: Noto Sans SC;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    background-color: white;
}

.nav_main {
    display: flex;
    justify-content: left;
}

.link {
    height: 22px;
    margin: 0px 2em;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link:hover {
    border-bottom: 1px solid black;
}

.link a:hover {
    color: black;
}

.active {
    border-bottom: 1px var(--buttons);
}

.active a {
    color: var(--buttons) !important;
}

.logout_btn {
    justify-self: right;
    height: 22px;
    margin: 0px 2em;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}

.logout_btn a {
    /*color: #8a8a8a;*/
    text-decoration: none;
    transition: color 0.5s;
    background: var(--yellow);
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: none; 
}

.logout_btn a:hover {
    color: var(--buttons);
}

.action_list {
    margin: 10px 0;
}

.action_list a {
    text-decoration: none;
    background: var(--yellow);
    color: white;
    cursor: default;
    padding: 10px;
    border-radius: 20px;
    border: none;
    transition: 0.5s;
    font-family: varela round;
}

.action_list a:hover{
    background: var(--buttons);
    color: white;
}

/****************/
/* Add Resource */
/****************/

.drop-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    color: var(--titles);
}

.drop-content > label {
    margin: 0.25em 0.5em;
}

#add {
    display: flex;
    justify-content: center;
    align-items: center;
    width:45vw;
    padding-bottom: 3em;
}

#add form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
    max-width: none;
}

#add table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#add th, td {
    padding: 1em;
}

table input {
    width: 100%;
}

table textarea { 
     width: 100%;
 }

/*****************/
/* Edit Resource */
/*****************/

#titles {
    width: 30vw;
    display: flex;
    flex-direction: column;
}

#titles a {
    all: unset;
    display: inline;
    text-align: left;
    color: black;
    padding: 0.5em 0;
    margin: 0;
}

#titles a:hover {
    text-decoration: underline;
    color:rgb(26, 65, 91);
    cursor: pointer;
}

#edit {
    display: flex;
    justify-content: center;
    width: 50vw;
    padding-bottom: 3em;
}

#edit form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 500px;
    max-width: none;
}

#edit table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#edit th, td {
    padding: 1em;
}

/*******************/
/* Approve Ratings */
/*******************/

#approve_ratings table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#approve_ratings th, td {
    padding: 1em;
}

/*******************/
/* Track Resources */
/*******************/

#track_resources table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#track_resources th, td {
    padding: 1em;
}

#reset-form {
    display: flex;
    align-items: center;
}

#reset {
    width: 100px;
    margin: 1em 1em;
    border-radius: 20px;
    font-family: Varela Round;
    background: var(--yellow);
    padding: 10px;
    color: white;
    transition: 0.5s;
    border: none;
}

#reset:hover {
    background: var(--buttons);
    color: white;
}

/************/
/* Settings */
/************/

#chg-form {
    min-width: 400px;
    max-width: 400px;
}